.customerSayContainer {
  text-align: center;
  background: linear-gradient(135deg, #000, #2b2b2b);
  color: white;
  padding: 20px 0;
  width: 100vw;
  margin: 0;
}

.customerSayTitle {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: white;
}

.feedbackCardsContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.feedbackCard {
  background-color: #1a1a1a;
  color: white;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
  cursor: pointer;
  overflow: hidden;
}

.feedbackCard.expanded {
  width: 400px;
  height: auto;
  opacity: 1;
}

.feedbackCard:hover {
  transform: scale(1.05);
  opacity: 1;
}

.feedbackCardContent {
  margin: 20px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-height: 1.5em;
  max-height: 6em;
  color: white;
}

.fullContent {
  white-space: normal;
  overflow: visible;
  text-overflow: initial;
}

.expandedContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quoteIcon {
  font-size: 3rem;
  color: #CDA04E;
}

.feedbackCardDivider {
  width: 100px;
  height: 2px;
  background-color: #CDA04E;
  margin-bottom: 20px;
}

.customerCardName {
  margin-top: 10px;
  font-weight: bold;
}

.customerCardImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 20px;
}
