.navbar {
  padding: 1rem 1rem;
  background-color: black;
}

.navbar-brand img {
  height: 40px;
}

.nav-link {
  font-size: 16px;
  padding: 8px 15px;
  transition: color 0.3s, background-color 0.3s;
}

.nav-link:hover {
  color: #3ccaf1; /* Gold color for hover effect */
  background-color: rgba(255, 255, 255, 0.1); /* Light background for hover */
  border-radius: 5px; /* Rounded corners for better UI */
}

.dropdown-menu-dark .dropdown-item {
  color: white;
}

.dropdown-menu-dark .dropdown-item:hover {
  color: black;
  background-color: #3ccaf1;
}

.btn-outline-light {
  color: white;
  border-color: white;
}

.btn-outline-light:hover {
  color: black;
  background-color: white;
}

.btn-light {
  color: black;
  border-color: white;
}

@media (max-width: 991px) {
  .btn-light {
    margin-top: 0.5rem;
  }
}
