.footer {
  background: linear-gradient(100deg, #242323,rgb(0, 0, 0));
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-column {
  flex: 1;
  margin: 0 10px;
}

.footer-heading {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #FFA500;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icon {
  font-size: 1.5rem;
  color: white;
  transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
  transform: scale(1.2);
}

.footer-links {
  list-style-type: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: white;
  transition: color 0.3s ease-in-out;
}

.footer-links a:hover {
  color: #FFA500;
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-form input[type="email"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 200px;
  outline: none;
}

.subscribe-form button {
  padding: 10px 20px;
  border: none;
  background-color: #FFA500;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.subscribe-form button:hover {
  background-color: #CDA04E;
}

.footer-bottom {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}

.footer-policies a {
  color: white;
  margin-left: 10px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.footer-policies a:hover {
  color: #FFA500;
}
