body, html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
}

a {
  color: inherit; /* Ensure links inherit color */
  text-decoration: none;
}

a:hover {
  color: lightorange; /* Light orange hover effect */
}
