.App {
  background-color: #000; /* Dark background color for the whole app */
}

.component-container {
  margin-bottom: 20px; /* Add a gap between each component */
}

.navbar-container {
  margin-bottom: 20px; /* Gap for Navbar if needed */
}
