.side-menu {
  background-color: #2c2c2c; /* Dark background */
  height: 200vh; /* Full height */
  padding: 20px;
  overflow-y: auto; /* Scroll if content exceeds height */
}

.menu-list {
  margin-top: 20px;
}

.menu-item {
  background-color: transparent;
  color: grey;
  border: none;
  margin-bottom: 10px;
}

.menu-item:hover {
  background-color: #444444;
  text-decoration: none; /* Slightly lighter on hover */
}


.menu-link:hover {
  text-decoration: underline;
}

.dark-card {
  padding-left: 30px;
  margin-left: 30px;
  height: 100%;
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 
}


.menu-item.selected {
  text-align: center;
  color: black;
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
.menu-link {
  display: block;
  padding: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  text-decoration: none;
  color: inherit;
}

.menu-item.selected:hover .menu-link
{
  color: black;
}

.menu-link:hover {
  color: white;
  text-decoration: none;
}
.menu-item.selected .menu-link {
  font-weight: bold;
}
