.customer-slider {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #000, #2b2b2b);
}

.heading {
  font-size: 3rem;
  color: #f8f9fa;
  margin-bottom: 30px;
}

.customer-slider-wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.customer-slide {
  display: flex !important;
  justify-content: center;
}

.customer-image {
  width: 150px;
  height: auto;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.customer-image:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
